@import './base.css';

#app {
  /* display: flex; */
  /* max-width: 100%;
  margin: 0;
  padding: 0;
  max-height: 100%; */
  /*居中*/

  /* justify-content: center; */
  /*高度居中*/
  /* align-items: center;
  font-weight: normal; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
/*
@media (min-width: 1024) {
  body {
    display: flex;
    place-items: center;
    
  }

  #app {
    
    padding: 0;
  }
}
*/